<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content='text/html; charset=utf-8'>
    <meta http-equiv="refresh" content='0;URL=index2.php'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--Nombre: <input type='text' id='txtnombre' required=''>
   Mensaje: <input type='text' id='txtmensaje' required=''>
    <button type='button' id='button'>Enviar</button>
    <script src='../CONTROL/funcion.js'></script>
    <div id='demo'></div>-->
     
</body>
</html>
